#video iframe{
    width: 100%;
    height: 700px;  
    /* padding: 10px;  */
}
#video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #63b9e9;
}